[Unit]
Description=LoveSupremacy Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/LoveSupremacy-Telegram-Bot
EnvironmentFile=/opt/LoveSupremacy-Telegram-Bot/.env
ExecStart=/usr/bin/python3 /opt/LoveSupremacy-Telegram-Bot/main.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
